<div class="page-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button class="button-menu" (click)="snav.toggle()">
      <mat-icon class="icon-menu">menu</mat-icon>
    </button>
    <h1 class="app-name">BugBook</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list class="nav-list">
        <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
        <a class="nav-link">Book 1</a>
        <a class="nav-link">Book 2</a>
        <a class="nav-link">Book 3</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <p *ngFor="let content of fillerContent">{{content}}</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
