<div class="add-book-container">
  <mat-form-field class="title-input" id="name-input" appearance="fill">
    <mat-label>Concepts title</mat-label>
    <input matInput #title>
  </mat-form-field>

  <mat-form-field class="content-input" appearance="fill">
    <mat-label>Concepts content</mat-label>
    <textarea matInput placeholder="" #content rows="15"></textarea>
  </mat-form-field>

  <button mat-flat-button color="primary" class="save-button" routerLink="/" (click)="saveBook()">SAVE</button>
</div>

